<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			class="org.eclipse.bpmn2.modeler.runtime.example.SampleModel.SampleModelPackage"
			genModel="model/SampleModel.genmodel"
			uri="http://org.eclipse.bpmn2.modeler.runtime.example">
		</package>
	</extension>

	<extension
		point="org.eclipse.bpmn2.modeler.runtime">
		
		<runtime name="Sample Business Process Engine" versions="1.0"
			id="org.eclipse.bpmn2.modeler.runtime.example"
			class="org.eclipse.bpmn2.modeler.runtime.example.SampleRuntimeExtension"
			description="BPMN2 Modeler customizations for a sample runtime engine">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.example"
			uri="http://org.eclipse.bpmn2.modeler.runtime.example"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>

		<customTask
			description="This task represents a risk that can occur in the connected Elements."
			featureContainer="org.eclipse.bpmn2.modeler.runtime.example.SampleCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.example.riskTask"
			name="Risk Task"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.example"
			type="Task">
			<property name="sampleCustomTaskId" value="org.eclipse.bpmn2.modeler.runtime.example.riskTask"/>
			<property name="name" value="Risk Task"/>
		</customTask>

		<customTask
			description="This task attempts to minimize the impact of risk."
			featureContainer="org.eclipse.bpmn2.modeler.runtime.example.SampleCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.example.mitigationTask"
			name="Mitigation Task"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.example"
			type="Task">
			<property name="sampleCustomTaskId" value="org.eclipse.bpmn2.modeler.runtime.example.mitigationTask"/>
			<property name="name" value="Mitigation Task"/>
		</customTask>

		<!-- need to explicitly enable display of custom attributes in the property sheet -->
		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.example" type="Process">
			<disable object="all"/>
			<enable object="default" feature="Process"/>
			<enable object="Task"/>
		</modelEnablement>

	</extension>

</plugin>
