<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<!-- <primaryWizard id="org.eclipse.bpmn2.modeler.ui.diagram"> </primaryWizard> -->
		<category id="org.eclipse.bpmn2.modeler.ui.mainCategory"
			name="BPMN2">
		</category>
		<wizard category="org.eclipse.bpmn2.modeler.ui.mainCategory"
			class="org.eclipse.bpmn2.modeler.ui.wizards.BPMN2DiagramWizard" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.diagram" name="BPMN2 Diagram">
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2Editor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.bpmn2editor" name="BPMN2 Visual Editor">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<!--
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.modeler.contenttype" name="BPMN2 Editor File"
			file-extensions="bpmn,bpmn2" priority="normal">
			<describer class="org.eclipse.bpmn2.modeler.ui.BPMN2ContentDescriber">
			</describer>
		</content-type>
	</extension>
	-->

	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2PropertyPage"
			id="org.eclipse.bpmn2.modeler.ui" name="BPMN2">
			<enabledWhen>
				<or>
					<!-- TODO: do we need a java project? <adapt type="org.eclipse.core.resources.IProject"> 
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"> 
						</test> </adapt> -->
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>

		<page
			class="org.eclipse.bpmn2.modeler.ui.preferences.ToolEnablementPropertyPage"
			id="org.eclipse.bpmn2.modeler.ui.toolEnablement" name="Tool Enablement"
			category="org.eclipse.bpmn2.modeler.ui">
		</page>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.eclipse.bpmn2.modeler.ui.PropertyContributor"
			tabDescriptorProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyTabDescriptorProvider">
			<propertyCategory category="BPMN2">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramTypeProvider"
			description="This is the editor for the BPMN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Editor">
			<diagramType
				id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType">
			</diagramType>
			<imageProvider id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
			</imageProvider>
		</diagramTypeProvider>
	</extension>
	
	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.eclipse.bpmn2.modeler.ui.ImageProvider"
			id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- Provide a default "runtime" behavior -->

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime
        class="org.eclipse.bpmn2.modeler.ui.DefaultBpmn2RuntimeExtension"
        description="Default runtime definition"
        id="org.eclipse.bpmn2.modeler.runtime.none"
        name="None">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.main.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			label="Basic">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.advanced.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			afterTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Advanced">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.sequenceflow.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Sequence Flow">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.messageFlow.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Message Flow">
		</propertyTab>
		
  <propertyTab
        replaceTab="org.eclipse.bpmn2.modeler.main.tab"
        category="BPMN2"
        id="org.eclipse.bpmn2.modeler.assocation.tab"
        label="Assocation"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
  </propertyTab>

  <propertyTab
        replaceTab="org.eclipse.bpmn2.modeler.main.tab"
        category="BPMN2"
        id="org.eclipse.bpmn2.modeler.conversationLink.tab"
        label="Conversation Link"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
  </propertyTab>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.Bpmn2MainPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.main.tab.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.main.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.AdvancedPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.advanced.tab.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.advanced.tab">
		</propertySection>
		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.SequenceFlowPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.sequenceflow.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.SequenceFlow"
			tab="org.eclipse.bpmn2.modeler.sequenceflow.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.MessageFlowPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.messageflow.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.MessageFlow"
			tab="org.eclipse.bpmn2.modeler.messageFlow.tab">
		</propertySection>
		
  <propertySection
        class="org.eclipse.bpmn2.modeler.ui.property.connectors.AssociationPropertySection"
        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
        id="org.eclipse.bpmn2.modeler.assocation.section"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
        tab="org.eclipse.bpmn2.modeler.assocation.tab"
        type="org.eclipse.bpmn2.Association">
  </propertySection>

  <propertySection
        class="org.eclipse.bpmn2.modeler.ui.property.connectors.ConversationLinkPropertySection"
        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
        id="org.eclipse.bpmn2.modeler.conversationLink.section"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
        tab="org.eclipse.bpmn2.modeler.conversationLink.tab"
        type="org.eclipse.bpmn2.ConversationLink">
  </propertySection>
	</extension>

</plugin>
