<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<!-- <primaryWizard id="org.eclipse.bpmn2.modeler.ui.diagram"> </primaryWizard> -->
		<category id="org.eclipse.bpmn2.modeler.ui.mainCategory"
			name="BPMN2">
		</category>
		<wizard category="org.eclipse.bpmn2.modeler.ui.mainCategory"
			class="org.eclipse.bpmn2.modeler.ui.wizards.BPMN2DiagramWizard" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.diagram" name="BPMN2 Diagram">
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2Editor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.bpmn2editor" name="BPMN2 Visual Editor">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<!--
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.modeler.contenttype" name="BPMN2 Editor File"
			file-extensions="bpmn,bpmn2" priority="normal">
			<describer class="org.eclipse.bpmn2.modeler.ui.BPMN2ContentDescriber">
			</describer>
		</content-type>
	</extension>
	-->

	<!-- Preference Pages -->
	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            name="%PREFERENCE_PAGE_HOME"/>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            name="%PREFERENCE_PAGE_EDITOR">
      </page>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            name="%PREFERENCE_PAGE_WSIL"/>
   </extension>

	<!-- Property Pages - these per-project settings override the global preferences (above)-->

	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2PropertyPage"
			id="org.eclipse.bpmn2.modeler.ui" name="BPMN2">
			<enabledWhen>
				<or>
					<!-- TODO: do we need a java project? <adapt type="org.eclipse.core.resources.IProject"> 
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"> 
						</test> </adapt> -->
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>

		<page
			class="org.eclipse.bpmn2.modeler.ui.preferences.ToolEnablementPropertyPage"
			id="org.eclipse.bpmn2.modeler.ui.toolEnablement" name="%PROPERTY_PAGE_TOOL_ENABLEMENT"
			category="org.eclipse.bpmn2.modeler.ui">
		</page>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.eclipse.bpmn2.modeler.ui.PropertyContributor"
           labelProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyLabelProvider"
			tabDescriptorProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyTabDescriptorProvider">
			<propertyCategory category="BPMN2">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramTypeProvider"
			description="This is the editor for the BPMN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Editor">
			<diagramType
				id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType">
			</diagramType>
			<imageProvider id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
			</imageProvider>
		</diagramTypeProvider>
	</extension>
	
	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.eclipse.bpmn2.modeler.ui.ImageProvider"
			id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- Provide a default "runtime" behavior -->

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime
        class="org.eclipse.bpmn2.modeler.ui.DefaultBpmn2RuntimeExtension"
        description="Default runtime definition"
        id="org.eclipse.bpmn2.modeler.runtime.none"
        name="None">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>
		
		<!-- Property Tabs -->
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.description.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			label="Description">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.main.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Basic">
		</propertyTab>
				
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.process.diagram.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Process">
		</propertyTab>
				
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.definitions.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			afterTab="org.eclipse.bpmn2.modeler.process.diagram.tab"
			label="Definitions">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.datastore.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Store">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.dataobject.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Object">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.dataobjectref.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Object Reference">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.dataitems.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Items">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.sequenceflow.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Sequence Flow">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.messageFlow.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Message Flow">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.message.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Message">
		</propertyTab>
		
		<propertyTab
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			category="BPMN2"
			id="org.eclipse.bpmn2.modeler.assocation.tab"
			label="Assocation"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			category="BPMN2"
			id="org.eclipse.bpmn2.modeler.conversationLink.tab"
			label="Conversation Link"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			category="BPMN2"
			id="org.eclipse.bpmn2.modeler.conversation.tab"
			label="Conversation"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.advanced.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			afterTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Advanced">
		</propertyTab>
		
		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.commonEvent.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Event">
		</propertyTab>

		<propertyTab category="BPMN2"
			id="org.eclipse.bpmn2.modeler.task.tab"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Task">
		</propertyTab>

		<propertyTab
	        afterTab="org.eclipse.bpmn2.modeler.task.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.scriptTask.tab"
	        label="Script Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        afterTab="org.eclipse.bpmn2.modeler.task.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.serviceTask.tab"
	        label="Service Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        afterTab="org.eclipse.bpmn2.modeler.task.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.userTask.tab"
	        label="User Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        afterTab="org.eclipse.bpmn2.modeler.task.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.sendTask.tab"
	        label="Send Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        replaceTab="org.eclipse.bpmn2.modeler.main.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.receiveTask.tab"
	        label="Receive Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        replaceTab="org.eclipse.bpmn2.modeler.main.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.businessRuleTask.tab"
	        label="Business Rule Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
	        replaceTab="org.eclipse.bpmn2.modeler.main.tab"
	        category="BPMN2"
	        id="org.eclipse.bpmn2.modeler.choreographyTask.tab"
	        label="Choreography Task"
	        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
        afterTab="org.eclipse.bpmn2.modeler.task.tab"
        category="BPMN2"
        id="org.eclipse.bpmn2.modeler.activity.input.tab"
        label="Inputs/Assignments"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<propertyTab
        afterTab="org.eclipse.bpmn2.modeler.task.tab"
        category="BPMN2"
        id="org.eclipse.bpmn2.modeler.activity.output.tab"
        label="Outputs/Assignments"
        runtimeId="org.eclipse.bpmn2.modeler.runtime.none">
		</propertyTab>

		<!-- Property Sections -->

		<!-- Description Tab Section -->		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.DescriptionPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.description.tab.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.description.tab">
		</propertySection>
		
		<!-- Default Tab Section -->		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.DefaultPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.main.tab.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.main.tab">
		</propertySection>

		<!-- Advanced Tab Section -->		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.AdvancedPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.advanced.tab.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.advanced.tab">
		</propertySection>
		
		<!-- Everything else -->		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.ProcessDiagramPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.process.diagram.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			tab="org.eclipse.bpmn2.modeler.process.diagram.tab">
		</propertySection>
			
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DefinitionsPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.definitions.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			tab="org.eclipse.bpmn2.modeler.definitions.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataStorePropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.datastore.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.datastore.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.dataobjectref.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.dataobject.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectReferencePropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.dataobjectref.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.dataobjectref.tab">
		</propertySection>
			
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DataItemsPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.dataitems.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			tab="org.eclipse.bpmn2.modeler.dataitems.tab">
		</propertySection>
		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.SequenceFlowPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.sequenceflow.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.SequenceFlow"
			tab="org.eclipse.bpmn2.modeler.sequenceflow.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.MessageFlowPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.messageflow.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.MessageFlow"
			tab="org.eclipse.bpmn2.modeler.messageFlow.tab">
		</propertySection>
		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.data.MessagePropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.message.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="org.eclipse.bpmn2.Message"
			tab="org.eclipse.bpmn2.modeler.message.tab">
		</propertySection>
		
		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.AssociationPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.assocation.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.assocation.tab"
			type="org.eclipse.bpmn2.Association">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.ConversationLinkPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.conversationLink.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.conversationLink.tab"
			type="org.eclipse.bpmn2.ConversationLink">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.ConversationPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="org.eclipse.bpmn2.modeler.conversation.section"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			tab="org.eclipse.bpmn2.modeler.conversation.tab"
			type="org.eclipse.bpmn2.Conversation">
		</propertySection>
		  
		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.CommonEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.commonEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.Event">
		  </propertySection>
<!--
		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.StartEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.startEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.StartEvent">
		  </propertySection>
-->
<!--          Don't need End Event property section at the moment because it doesn't add 
              anything to the Throw Event
-->
<!--		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.EndEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.endEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.EndEvent">
		  </propertySection> -->
<!--
		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.CatchEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.catchEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.CatchEvent">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.ThrowEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.throwEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.ThrowEvent">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.events.BoundaryEventPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.boundaryEvent.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.commonEvent.tab"
		        type="org.eclipse.bpmn2.BoundaryEvent">
		  </propertySection>
-->
		  
		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.TaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.task.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.task.tab"
		        type="org.eclipse.bpmn2.Task">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ScriptTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.scriptTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.scriptTask.tab"
		        type="org.eclipse.bpmn2.ScriptTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ServiceTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.serviceTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.serviceTask.tab"
		        type="org.eclipse.bpmn2.ServiceTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.UserTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.userTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.userTask.tab"
		        type="org.eclipse.bpmn2.UserTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.SendTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.sendTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.sendTask.tab"
		        type="org.eclipse.bpmn2.SendTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ReceiveTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.receiveTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.receiveTask.tab"
		        type="org.eclipse.bpmn2.ReceiveTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.BusinessRuleTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.businessRuleTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.businessRuleTask.tab"
		        type="org.eclipse.bpmn2.BusinessRuleTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ChoreographyTaskPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.choreographyTask.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.choreographyTask.tab"
		        type="org.eclipse.bpmn2.ChoreographyTask">
		  </propertySection>

		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityInputPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.activity.input.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.activity.input.tab"
		        type="org.eclipse.bpmn2.Activity">
		  </propertySection>
		  <propertySection
		        class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityOutputPropertySection"
		        filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
		        id="org.eclipse.bpmn2.modeler.activity.output.section"
		        runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
		        tab="org.eclipse.bpmn2.modeler.activity.output.tab"
		        type="org.eclipse.bpmn2.Activity">
		  </propertySection>

	</extension>

</plugin>
