<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<!-- <primaryWizard id="org.eclipse.bpmn2.modeler.ui.diagram"> </primaryWizard> -->
		<wizard category="org.eclipse.bpmn2.wizardCategory"
			class="org.eclipse.bpmn2.modeler.ui.wizards.BPMN2DiagramWizard" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.diagram" name="BPMN2 Diagram">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<!--
		The multipage editor is still experimental.
		To quickly revert back to the original, single page editor
		simply replace the editor class with this:
			class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2Editor"
		-->
		<editor
			class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2MultiPageEditor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.bpmn2editor" name="Bpmn2 Diagram Editor">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.content-type.xml"
			name="BPMN2 Modeler File"
			file-extensions="bpmn,bpmn2,bpmn20,xml"
			priority="normal">
			<describer class="org.eclipse.bpmn2.modeler.ui.BPMN2ContentDescriber">
			</describer>
		</content-type>
	</extension>

	<!-- Preference Pages -->
	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            name="%PREFERENCE_PAGE_HOME"/>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            name="%PREFERENCE_PAGE_EDITOR">
      </page>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            name="%PREFERENCE_PAGE_WSIL"/>
   </extension>

	<!-- Property Pages - these per-project settings override the global preferences (above)-->

	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2PropertyPage"
			id="org.eclipse.bpmn2.modeler.ui" name="BPMN2">
			<enabledWhen>
				<or>
					<!-- TODO: do we need a java project? <adapt type="org.eclipse.core.resources.IProject"> 
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"> 
						</test> </adapt> -->
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>

		<page
			class="org.eclipse.bpmn2.modeler.ui.preferences.ToolEnablementPropertyPage"
			id="org.eclipse.bpmn2.modeler.ui.toolEnablement" name="%PROPERTY_PAGE_TOOL_ENABLEMENT"
			category="org.eclipse.bpmn2.modeler.ui">
			<enabledWhen>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.eclipse.bpmn2.modeler.ui.PropertyContributor"
           labelProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyLabelProvider"
			tabDescriptorProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyTabDescriptorProvider">
			<propertyCategory category="BPMN2">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramTypeProvider"
			description="This is the editor for the BPMN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Editor">
			<diagramType
				id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType">
			</diagramType>
			<imageProvider id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
			</imageProvider>
		</diagramTypeProvider>
	</extension>
	
	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.eclipse.bpmn2.modeler.ui.ImageProvider"
			id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- Provide a default "runtime" behavior -->

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime class="org.eclipse.bpmn2.modeler.ui.DefaultBpmn2RuntimeExtension"
			description="Default runtime definition" id="org.eclipse.bpmn2.modeler.runtime.none"
			name="None">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>

		<!-- Property Tabs -->

		<propertyTab
			id="org.eclipse.bpmn2.modeler.description.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.DescriptionPropertySection"
			popup="false"
			label="Description">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.process.diagram.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.ProcessDiagramPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Process">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.interface.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.InterfacePropertySection"
			afterTab="org.eclipse.bpmn2.modeler.process.diagram.tab"
			label="Interfaces">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.definitions.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DefinitionsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			afterTab="org.eclipse.bpmn2.modeler.interface.tab"
			label="Definitions">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataitems.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DataItemsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Data Items">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.datastore.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataStorePropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Data Store">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.datastoreref.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataStoreReferencePropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataobject.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Data Object">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataobjectref.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectReferencePropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.sequenceflow.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.SequenceFlowPropertySection"
			type="org.eclipse.bpmn2.SequenceFlow"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Sequence Flow">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.messageFlow.tab"
			class="default"
			features="messageRef"
			type="org.eclipse.bpmn2.MessageFlow"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Message Flow">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.message.tab"
			class="default"
			features="itemRef"
			type="org.eclipse.bpmn2.Message"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Message">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.assocation.tab"
			class="default"
			features="associationDirection"
			type="org.eclipse.bpmn2.Association"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Assocation">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.conversation.tab"
			class="default"
			features="correlationKeys"
			type="org.eclipse.bpmn2.Conversation"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Conversation">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.commonEvent.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.events.CommonEventPropertySection"
			type="org.eclipse.bpmn2.Event"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Event">
		</propertyTab>
		
		<propertyTab
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.artifact.TextAnnotationPropertySection"
			id="org.eclipse.bpmn2.modeler.textAnnotation.tab"
			type="org.eclipse.bpmn2.TextAnnotation"
			label="Text Annotation">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.task.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.TaskPropertySection"
			type="org.eclipse.bpmn2.Task"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.scriptTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ScriptTaskPropertySection"
			type="org.eclipse.bpmn2.ScriptTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Script Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.serviceTask.tab"
			class="default"
			features="implementation operationRef"
			type="org.eclipse.bpmn2.ServiceTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Service Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.userTask.tab"
			class="default"
			features="implementation renderings"
			type="org.eclipse.bpmn2.UserTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="User Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.sendTask.tab"
			class="default"
			features="implementation messageRef operationRef"
			type="org.eclipse.bpmn2.SendTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Send Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.receiveTask.tab"
			class="default"
			features="implementation instantiate messageRef operationRef"
			type="org.eclipse.bpmn2.ReceiveTask"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Receive Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.businessRuleTask.tab"
			class="default"
			features="anyAttribute implementation"
			type="org.eclipse.bpmn2.BusinessRuleTask"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Business Rule Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.choreographyTask.tab"
			class="default"
			features="loopType initiatingParticipantRef correlationKeys messageFlowRef"
			type="org.eclipse.bpmn2.ChoreographyTask"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Choreography Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.callActivity.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityPropertySection"
			type="org.eclipse.bpmn2.CallActivity"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Call Activity">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.callChoreography.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityPropertySection"
			type="org.eclipse.bpmn2.CallChoreography"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Call Choreography">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.subProcess.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityPropertySection"
			type="org.eclipse.bpmn2.SubProcess"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Sub Process">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.subChoreography.tab"
			class="default"
			features="anyAttribute loopType participantRefs initiatingParticipantRef correlationKeys artifacts"
			type="org.eclipse.bpmn2.SubChoreography"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Sub Choreography">
		</propertyTab>

		<!-- propertyTab
			id="org.eclipse.bpmn2.modeler.activity.io.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.IoParametersPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="I/O Parameters">
		</propertyTab -->

		<propertyTab
			id="org.eclipse.bpmn2.modeler.group.tab"
			class="default"
			features="anyAttribute categoryValueRef"
			type="org.eclipse.bpmn2.Group"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Group">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.gateway.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.gateways.GatewayPropertySection"
			type="org.eclipse.bpmn2.Gateway"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Gateway">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.advanced.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.AdvancedPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			popup="false"
			label="Advanced">
		</propertyTab>

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Process">
			<disable object="all"/>
			<enable object="Definitions"/>

			<!-- process -->
			<enable object="Process"/>
			<enable object="SubProcess"/>

			<!-- gateways -->
			<enable object="ExclusiveGateway"/>
			<enable object="InclusiveGateway"/>
			<enable object="ParallelGateway"/>
			<enable object="EventBasedGateway"/>
			<enable object="ComplexGateway"/>

			<!-- tasks -->
			<enable object="BusinessRuleTask"/>
			<enable object="CallActivity"/>
			<enable object="ScriptTask"/>
			<enable object="ServiceTask"/>
			<enable object="Task"/>
			<enable object="UserTask"/>

			<enable object="GlobalTask"/>
			<enable object="GlobalBusinessRuleTask"/>
			<enable object="GlobalManualTask"/>
			<enable object="GlobalScriptTask"/>
			<enable object="GlobalUserTask"/>
			<enable object="Task"/>

			<!-- connections -->
			<enable object="SequenceFlow"/>
			<enable object="Association"/>

			<!-- events -->
			<enable object="StartEvent"/>
			<enable object="EndEvent"/>
			<enable object="IntermediateCatchEvent"/>
			<enable object="IntermediateThrowEvent"/>
			<enable object="Escalation"/>
			<enable object="CatchEvent"/>
			<enable object="ThrowEvent"/>
			<enable object="BoundaryEvent"/>
			<enable object="Signal"/>
			<enable object="Error"/>
			<enable object="ErrorEventDefinition"/>

			<!-- event definitions -->
			<enable object="ConditionalEventDefinition"/>
			<enable object="TimerEventDefinition"/>
			<enable object="SignalEventDefinition"/>
			<enable object="MessageEventDefinition"/>
			<enable object="EscalationEventDefinition"/>
			<enable object="CompensateEventDefinition"/>
			<enable object="LinkEventDefinition"/>
			<enable object="ErrorEventDefinition"/>
			<enable object="CancelEventDefinition"/>
			<enable object="TerminateEventDefinition"/>

			<!-- data definitions -->
			<enable object="Operation"/>
			<enable object="Interface"/>
			<enable object="ItemDefinition"/>
			<enable object="Message"/>
			<enable object="DataInput"/>
			<enable object="DataInputAssociation"/>
			<enable object="DataOutput"/>
			<enable object="DataOutputAssociation"/>
			<enable object="Property"/>
			<enable object="DataStore"/>
			<enable object="DataStoreReference"/>
			<enable object="DataObjectReference"/>
			<enable object="Group"/>
			<enable object="Category"/>
			<enable object="CategoryValue"/>
			<enable object="TextAnnotation"/>
			<enable object="ExtensionAttributeValue"/>
			<enable object="ExtensionAttributeDefinition"/>
			<enable object="StandardLoopCharacteristics"/>
			<enable object="MultiInstanceLoopCharacteristics"/>
			<enable object="Lane"/>
			<enable object="LaneSet"/>
			
			<!-- this is intended to be a baseclass for global tasks and Process and -->
			<!-- should NOT be a valid selection in ModelSubclassSelectionDialog -->
			<disable object="CallableElement"/>
			<enable object="CallActivity" feature="calledElementRef"/>
			
			<disable object="MessageFlow"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="Choreography"/>
			<disable object="ConversationNode"/>
			<disable object="MessageFlowAssociation"/>
			<disable object="Participant"/>
			<disable object="ParticipantAssociation"/>
			<disable object="ParticipantMultiplicity"/>
		</modelEnablement>

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Choreography">
			<disable object="all"/>
			<enable object="Definitions"/>
			<enable object="Group"/>

			<enable object="StartEvent"/>
			<enable object="EndEvent"/>

			<enable object="TextAnnotation"/>
			<enable object="SequenceFlow"/>
			<enable object="Choreography"/>
			<enable object="SubChoreography"/>
			<enable object="CallChoreography"/>
			<enable object="ChoreographyTask"/>

			<enable object="ExclusiveGateway"/>
			<enable object="InclusiveGateway"/>
			<enable object="ParallelGateway"/>
			<enable object="EventBasedGateway"/>
			<enable object="ComplexGateway"/>

			<enable object="ConditionalEventDefinition"/>
			<enable object="TimerEventDefinition"/>
			<enable object="SignalEventDefinition"/>
			<enable object="MessageEventDefinition"/>
			<enable object="EscalationEventDefinition"/>
			<enable object="CompensateEventDefinition"/>
			<enable object="LinkEventDefinition"/>
			<enable object="ErrorEventDefinition"/>
			<enable object="CancelEventDefinition"/>
			<enable object="TerminateEventDefinition"/>

			<enable object="MessageFlow"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="ConversationNode"/>
			<disable object="ExtensionAttributeDefinition"/>
			<disable object="MessageFlowAssociation"/>
		</modelEnablement>

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Collaboration">
			<disable object="all"/>
			<!-- copy the enablements from "Process" diagram type -->
			<enable object="default" feature="Process"/>
			
			<!-- and then change these objects -->
			<disable object="DataObjectReference"/>
			<enable object="Participant"/>
			<enable object="Lane"/>
			<enable object="MessageFlow"/>
			<enable object="Conversation"/>
			<enable object="SubConversation"/>
			<enable object="CallConversation"/>
			<enable object="ConversationLink"/>
		</modelEnablement>

		<style object="AdHocSubProcess" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Association" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="BoundaryEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="BusinessRuleTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="CallActivity" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="CallChoreography" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ChoreographyTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ComplexGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Conversation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataAssociation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataInput" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataObject" foreground="546778" background="D4E7F8" textColor="546778" font="Arial,10,-,-"/>
		<style object="DataOutput" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataStoreReference" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="EndEvent" foreground="7F0000" background="FF8080" textColor="7F0000" font="arial,10,-,-"/>
		<style object="EventBasedGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="ExclusiveGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Group" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="InclusiveGateway" foreground="7F7F00" background="FFFF80" textColor="7F7F00" font="arial,10,-,-"/>
		<style object="IntermediateCatchEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="IntermediateThrowEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Lane" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ManualTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Message" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="MessageFlow" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ParallelGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Participant" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ReceiveTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ScriptTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SendTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SequenceFlow" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ServiceTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="StartEvent" foreground="007F00" background="80FF80" textColor="007F00" font="arial,10,-,-"/>
		<style object="SubChoreography" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SubProcess" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Task" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="TextAnnotation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Transaction" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="UserTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>

	</extension>

</plugin>
