<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.model.ModelPackage"
            genModel="model/jBPM5Extensions.genmodel"
            uri="http://www.jboss.org/drools">
      </package>
   </extension>

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime name="JBoss jBPM5 Business Process Engine" versions="5.1,5.2,5.3"
			id="org.jboss.runtime.jbpm5"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.JBPM5RuntimeExtension"
			description="BPMN2 Modeler customizations for the JBoss jBPM5 engine">
		</runtime>

		<model runtimeId="org.jboss.runtime.jbpm5"
			uri="http://www.jboss.org/drools"
			resourceFactory="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.model.util.ModelResourceFactoryImpl">
		</model>

		<propertyTab
			category="BPMN2"
			id="bpmn2.jbpm.customTask.tab"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			runtimeId="org.jboss.runtime.jbpm5"
			label="Custom Task">
		</propertyTab>

		<propertyTab
			category="BPMN2"
			id="bpmn2.jbpm.task.tab"
			replaceTab="org.eclipse.bpmn2.modeler.task.tab"
			runtimeId="org.jboss.runtime.jbpm5"
			label="Task">
		</propertyTab>

		<propertySection
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.CustomTaskPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="bpmn2.jbpm.customTask.tab.section"
			runtimeId="org.jboss.runtime.jbpm5"
			tab="bpmn2.jbpm.customTask.tab">
		</propertySection>

		<propertySection
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmTaskPropertySection"
			filter="org.eclipse.bpmn2.modeler.ui.property.Bpmn2PropertyFilter"
			id="bpmn2.jbpm.task.tab.section"
			runtimeId="org.jboss.runtime.jbpm5"
			tab="bpmn2.jbpm.task.tab">
		</propertySection>

<!--
		<customTask
			featureContainer="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.features.JbpmCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.LogTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Log Task"
			description="This task is used to log messages"
			type="Task">
			<property name="taskName" value="log"/>
			<property name="displayName" value="Log Task" type="EString"/>
			<property name="icon" value="icons/log.png" type="EString"/>
			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property name="name" value="parameter"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Message"/>
						</value>
					</property>
					<property name="dataOutputs">
						<value>
							<property name="name" value="result"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
						</value>
					</property>

					<property name="outputSets">
						<value>
							<property name="dataOutputRefs" ref="ioSpecification/dataOutputs#0"/>
						</value>
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="sourceRef" value="someVariable"/>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataOutputAssociations">
				<value>
					<property name="sourceRef" ref="ioSpecification/dataOutputs#0"/>
					<property name="targetRef" value="someVariable"/>
				</value>
			</property>
		</customTask>

		<customTask
			featureContainer="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.features.JbpmCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.EmailTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Email Task"
			description="This task is used to send emails"
			type="Task">
			<property name="taskName" value="send"/>
			<property name="displayName" value="Email Task" type="EString"/>
			<property name="icon" value="icons/email.png" type="EString"/>
			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property name="name" value="parameter"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Body"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Subject"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="To"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="From"/>
						</value>
					</property>
					<property name="dataOutputs">
						<value>
							<property name="name" value="result"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#2"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#3"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#4"/>
						</value>
					</property>

					<property name="outputSets">
						<value>
							<property name="dataOutputRefs" ref="ioSpecification/dataOutputs#0"/>
						</value>
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="sourceRef" value="someVariable"/>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataOutputAssociations">
				<value>
					<property name="sourceRef" ref="ioSpecification/dataOutputs#0"/>
					<property name="targetRef" value="someVariable"/>
				</value>
			</property>
		</customTask>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.process"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Process Extensions"
			type="Process">
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.global">
								<value>
									<property name="identifier" value=""/>
									<property name="type" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.importType">
								<value>
									<property name="name" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
			<property name="version" value="1"/>
			<property name="packageName" value=""/>
		</modelExtension>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.sequenceFlow"
			runtimeId="org.jboss.runtime.jbpm5"
			name="SequenceFlow Extensions"
			type="SequenceFlow">
			<property name="priority" value="1"/>
		</modelExtension>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.Task"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Task Extensions"
			type="Task">
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onEntryScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>			
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onExitScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
		</modelExtension>
-->

		<modelEnablement runtimeId="org.jboss.runtime.jbpm5" type="Process">
			<disable object="all"/>
<!--			<enable object="default" feature="Process"/> -->
			<enable object="Definitions"/>
			<enable object="Process"/>
			<enable object="StartEvent"/>
			<enable object="EndEvent"/>
			<enable object="ScriptTask"/>
			<enable object="ExclusiveGateway"/>
			<enable object="InclusiveGateway"/>
			<enable object="ParallelGateway"/>

			<enable object="ExtensionAttributeValue" feature="onEntryScript"/>
			<enable object="ExtensionAttributeValue" feature="onExitScript"/>

			<enable object="OnEntryScriptType" feature="script"/>
			<enable object="OnEntryScriptType" feature="scriptFormat"/>

			<disable object="Task"/>
			<disable object="Import"/>
			<disable object="ExtensionDefinition"/>
			<disable object="Relationship"/>
			<disable object="ExtensionAttributeDefinition"/>

			<disable object="Lane"/>
			<disable object="MessageFlow"/>
			<disable object="Association"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="Choreography"/>
			<disable object="ConversationNode"/>
			<disable object="MessageFlowAssociation"/>
			<disable object="Participant"/>
			<disable object="ParticipantAssociation"/>
			<disable object="ParticipantMultiplicity"/>
		</modelEnablement>
		
	</extension>
	
</plugin>
