<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.model.ModelPackage"
            genModel="model/jBPM5Extensions.genmodel"
            uri="http://www.jboss.org/drools">
      </package>
   </extension>

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime name="JBoss jBPM5 Business Process Engine" versions="5.1,5.2,5.3"
			id="org.jboss.runtime.jbpm5"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.JBPM5RuntimeExtension"
			description="BPMN2 Modeler customizations for the JBoss jBPM5 engine">
		</runtime>

		<model runtimeId="org.jboss.runtime.jbpm5"
			uri="http://www.jboss.org/drools"
			resourceFactory="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.model.util.ModelResourceFactoryImpl">
		</model>

		<propertyTab
			id="bpmn2.jbpm.dataitems.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmDataItemsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			replaceTab="org.eclipse.bpmn2.modeler.dataitems.tab"
			label="Data Items">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.definitions.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmDefinitionsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			replaceTab="org.eclipse.bpmn2.modeler.definitions.tab"
			label="Definitions">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.customTask.tab"
			replaceTab="org.eclipse.bpmn2.modeler.task.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmCustomTaskPropertySection"
			label="Custom Task">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.task.tab"
			replaceTab="org.eclipse.bpmn2.modeler.task.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmTaskPropertySection"
			label="Task">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.userTask.tab"
			replaceTab="org.eclipse.bpmn2.modeler.userTask.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmUserTaskPropertySection"
			label="User Task">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.callActivity.tab"
			replaceTab="org.eclipse.bpmn2.modeler.callActivity.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmCallActivityPropertySection"
			label="Call Activity">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.empty.tab"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmEmptyPropertySection"
			label="Empty">
		</propertyTab>

		<propertyTab
			id="bpmn2.jbpm.diagram.tab"
			replaceTab="org.eclipse.bpmn2.modeler.process.diagram.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmDiagramPropertySection"
			label="Diagram">
		</propertyTab>
		
		<propertyTab
			id="bpmn2.jbpm.description.tab"
			replaceTab="org.eclipse.bpmn2.modeler.description.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmDescriptionPropertySection"
			label="Description">
		</propertyTab>

		<propertyTab
	        id="bpmn2.jbpm.scriptTask.tab"
	        replaceTab="org.eclipse.bpmn2.modeler.scriptTask.tab"
		    class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmScriptTaskPropertySection"
	        label="Script Task"
		    type="org.eclipse.bpmn2.ScriptTask">
		</propertyTab>

		<propertyTab
			id="org.jboss.runtime.jbpm5.sequenceflow.tab"
			replaceTab="org.eclipse.bpmn2.modeler.sequenceflow.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmSequenceFlowPropertySection"
			type="org.eclipse.bpmn2.SequenceFlow"
			label="Sequence Flow">
		</propertyTab>

		<propertyTab
			id="org.jboss.runtime.jbpm5.activitiy.io.tab"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.JbpmIoParametersPropertySection"
			replaceTab="org.eclipse.bpmn2.modeler.activity.io.tab"
			label="I/O Parameters">
		</propertyTab>
		
		<propertyExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.propertyExtension.FormalExpression"
			runtimeId="org.jboss.runtime.jbpm5"
			type="org.eclipse.bpmn2.FormalExpression"
			class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.property.adapters.FormalExpressionPropertyAdapter">
		</propertyExtension>
		
		
<!--
		<customTask
			featureContainer="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.features.JbpmCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.LogTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Log Task"
			description="This task is used to log messages"
			type="Task">
			<property name="taskName" value="SampleLogTask"/>
			<property name="displayName" value="Sample Log Task" type="EString"/>
			<property name="icon" value="icons/log.png" type="EString"/>
			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property name="name" value="Parameter"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Message"/>
						</value>
					</property>
					<property name="dataOutputs">
						<value>
							<property name="name" value="result"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
						</value>
					</property>

					<property name="outputSets">
						<value>
							<property name="dataOutputRefs" ref="ioSpecification/dataOutputs#0"/>
						</value>
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="sourceRef" value="someVariable"/>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="sourceRef" value="someVariable"/>
					<property name="targetRef" ref="ioSpecification/dataInputs#1"/>
				</value>
			</property>
			<property name="dataOutputAssociations">
				<value>
					<property name="sourceRef" ref="ioSpecification/dataOutputs#0"/>
					<property name="targetRef" value="someVariable"/>
				</value>
			</property>
		</customTask>
-->	
<!--
		<customTask
			featureContainer="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.features.JbpmCustomTaskFeatureContainer"
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.EmailTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Sample Email Task"
			description="This task is used to send emails"
			type="Task">
			<property name="taskName" value="SampleEmailTask"/>
			<property name="displayName" value="Sample Email Task" type="EString"/>
			<property name="icon" value="icons/email.png" type="EString"/>
			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property name="name" value="Attachment"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Body"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Subject"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="To"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="From"/>
						</value>
					</property>
					<property name="dataOutputs">
						<value>
							<property name="name" value="result"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#2"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#3"/>
						</value>
					</property>
					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#4"/>
						</value>
					</property>

					<property name="outputSets">
						<value>
							<property name="dataOutputRefs" ref="ioSpecification/dataOutputs#0"/>
						</value>
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="sourceRef" value="someVariable"/>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataOutputAssociations">
				<value>
					<property name="sourceRef" ref="ioSpecification/dataOutputs#0"/>
					<property name="targetRef" value="someVariable"/>
				</value>
			</property>
		</customTask>
-->
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.process"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Process Extensions"
			type="Process">
			<property name="version" value="1"/>
			<property name="packageName" value="defaultPackage"/>
		</modelExtension>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.sequenceFlow"
			runtimeId="org.jboss.runtime.jbpm5"
			name="SequenceFlow Extensions"
			type="SequenceFlow">
			<property name="priority" value="1"/>
		</modelExtension>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.businessRuleTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="BusinessRuleTask Extensions"
			type="BusinessRuleTask">
			<property name="ruleFlowGroup" value=""/>
		</modelExtension>
		
		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.callActivity"
			runtimeId="org.jboss.runtime.jbpm5"
			name="CallActivity Extensions"
			type="CallActivity">
			<property name="waitForCompletion" value="false"/>
			<property name="independent" value="false"/>
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onEntryScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>			
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onExitScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
		</modelExtension>

		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.Task"
			runtimeId="org.jboss.runtime.jbpm5"
			name="Task Extensions"
			type="Task">
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onEntryScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>			
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onExitScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
		</modelExtension>

		<modelExtension
			id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.modelExtension.UserTask"
			runtimeId="org.jboss.runtime.jbpm5"
			name="UserTask Extensions"
			type="UserTask">
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onEntryScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>			
			<property name="extensionValues">
				<value>
					<property name="value">
						<value>
							<property name="DocumentRoot.onExitScript">
								<value>
									<property name="script" value=""/>
									<property name="scriptFormat" value=""/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
			<property name="ioSpecification">
				<value>
					<property name="dataInputs">
						<value>
							<property name="name" value="TaskName"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Priority"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Comment"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="GroupId"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Skippable"/>
						</value>
					</property>
					<property name="dataInputs">
						<value>
							<property name="name" value="Content"/>
						</value>
					</property>

					<property name="inputSets">
						<value>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#0"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#1"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#2"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#3"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#4"/>
							<property name="dataInputRefs" ref="ioSpecification/dataInputs#5"/>
						</value>
					</property>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#0"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#1"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#2"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#3"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#4"/>
				</value>
			</property>
			<property name="dataInputAssociations">
				<value>
					<property name="targetRef" ref="ioSpecification/dataInputs#5"/>
				</value>
			</property>
		</modelExtension>

		<modelEnablement runtimeId="org.jboss.runtime.jbpm5" type="Process">
			<disable object="all"/>
			<enable object="Definitions"/>
			
			<!-- process -->
			<enable object="Process" feature="anyAttribute"/>
			<enable object="Process" feature="flowElements"/>
			<enable object="Process" feature="name"/>
			<enable object="Process" feature="properties"/>
			<enable object="SubProcess" feature="flowElements"/>
			<enable object="SubProcess" feature="loopCharacteristics"/>
			<enable object="SubProcess" feature="name"/>
			<enable object="SubProcess" feature="properties"/>

			<!-- gateways -->
			<enable object="ExclusiveGateway" feature="gatewayDirection"/>
			<enable object="ExclusiveGateway" feature="name"/>
			<enable object="InclusiveGateway" feature="gatewayDirection"/>
			<enable object="InclusiveGateway" feature="name"/>
			<enable object="ParallelGateway" feature="gatewayDirection"/>
			<enable object="ParallelGateway" feature="name"/>

			<!-- tasks -->
			<enable object="BusinessRuleTask" feature="anyAttribute"/>
			<enable object="BusinessRuleTask" feature="name"/>
			<enable object="CallActivity" feature="anyAttribute"/>
			<enable object="CallActivity" feature="calledElementRef"/>
			<enable object="CallActivity" feature="dataInputAssociations"/>
			<enable object="CallActivity" feature="dataOutputAssociations"/>
			<enable object="CallActivity" feature="ioSpecification"/>
			<enable object="CallActivity" feature="name"/>
			<enable object="ScriptTask" feature="name"/>
			<enable object="ScriptTask" feature="script"/>
			<enable object="ScriptTask" feature="scriptFormat"/>
			<enable object="ServiceTask" feature="anyAttribute"/>
			<enable object="ServiceTask" feature="dataInputAssociations"/>
			<enable object="ServiceTask" feature="dataOutputAssociations"/>
			<enable object="ServiceTask" feature="ioSpecification"/>
			<enable object="ServiceTask" feature="name"/>
			<enable object="ServiceTask" feature="operationRef"/>
			<enable object="Task" feature="anyAttribute"/>
			<enable object="Task" feature="dataInputAssociations"/>
			<enable object="Task" feature="dataOutputAssociations"/>
			<enable object="Task" feature="ioSpecification"/>
			<enable object="Task" feature="name"/>
			<enable object="UserTask" feature="dataInputAssociations"/>
			<enable object="UserTask" feature="dataOutputAssociations"/>
			<enable object="UserTask" feature="ioSpecification"/>
			<enable object="UserTask" feature="name"/>
			<enable object="UserTask" feature="resources"/>

			<!-- connections -->
			<enable object="SequenceFlow" feature="conditionExpression"/>
			<enable object="SequenceFlow" feature="name"/>
			<enable object="SequenceFlow" feature="sourceRef"/>
			<enable object="SequenceFlow" feature="targetRef"/>

			<!-- events -->
			<enable object="Escalation" feature="escalationCode"/>
			<enable object="Escalation" feature="name"/>
			<enable object="EscalationEventDefinition" feature="escalationRef"/>
			<enable object="IntermediateCatchEvent" feature="dataOutputAssociation"/>
			<enable object="IntermediateCatchEvent" feature="dataOutputs"/>
			<enable object="IntermediateCatchEvent" feature="eventDefinitions"/>
			<enable object="IntermediateCatchEvent" feature="name"/>
			<enable object="IntermediateCatchEvent" feature="outputSet"/>
			<enable object="Signal" feature="name"/>
			<enable object="SignalEventDefinition" feature="signalRef"/>
			<enable object="StartEvent" feature="name"/>
			<enable object="EndEvent" feature="dataInputAssociation"/>
			<enable object="EndEvent" feature="dataInputs"/>
			<enable object="EndEvent" feature="eventDefinitions"/>
			<enable object="EndEvent" feature="inputSet"/>
			<enable object="EndEvent" feature="name"/>
			<enable object="TerminateEventDefinition"/>
			<disable object="TerminateEventDefinition" feature="all"/>
			<enable object="TimerEventDefinition" feature="timeCycle"/>
			<enable object="TimerEventDefinition" feature="timeDuration"/>

			<enable object="ItemDefinition" feature="anyAttribute"/>
			<enable object="ItemDefinition" feature="structureRef"/>
			
			<enable object="DataInput"/>
			<enable object="DataInputAssociation"/>
			<enable object="DataOutput"/>
			<enable object="DataOutputAssociation"/>
			<disable object="FormalExpression"/>
			<enable object="FormalExpression" feature="body"/>
			<enable object="FormalExpression" feature="language"/>

			<enable object="LaneSet" feature="name"/>

			<enable object="MultiInstanceLoopCharacteristics" feature="inputDataItem"/>
			<enable object="MultiInstanceLoopCharacteristics" feature="loopDataInputRef"/>

			<enable object="ExtensionAttributeValue" feature="onEntryScript"/>
			<enable object="ExtensionAttributeValue" feature="onExitScript"/>
			<enable object="GlobalType"/>
			<enable object="ImportType"/>

			<enable object="OnEntryScriptType" feature="script"/>
			<enable object="OnEntryScriptType" feature="scriptFormat"/>

			<!-- globally disable all BaseElement attributes like documentation and id -->
			<disable object="all" feature="documentation"/>
			<disable object="all" feature="id"/>
			<!-- except for these -->
			<enable object="Process" feature="id"/>
			<enable object="Escalation" feature="id"/>
			<enable object="Signal" feature="id"/>
			<enable object="ItemDefinition" feature="id"/>
			<enable object="EventDefinition" feature="id"/>

			<disable object="Import"/>
			<disable object="ExtensionDefinition"/>
			<disable object="Relationship"/>
			<disable object="ExtensionAttributeDefinition"/>
			<disable object="Lane"/>
			<disable object="MessageFlow"/>
			<disable object="Association"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="Choreography"/>
			<disable object="ConversationNode"/>
			<disable object="MessageFlowAssociation"/>
			<disable object="Participant"/>
			<disable object="ParticipantAssociation"/>
			<disable object="ParticipantMultiplicity"/>
			<disable object="DataStore"/>
			<disable object="DataStoreReference"/>
			<disable object="Message"/>
		</modelEnablement>
		
	</extension>
 <extension
       point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
          class="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.JBPM5ImageProvider"
          id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.JBPM5ImageProvider">
    </imageProvider>
 </extension>
	
</plugin>
