<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.camunda.bpm.modeler.runtime" name="BPMN2 Modeler Runtime Specialization" schema="schema/org.camunda.bpm.modeler.runtime.exsd"/>
	<extension-point id="org.camunda.bpm.modeler.plugin.customtask" name="CustomTask" schema="schema/customTask.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			class="org.camunda.bpm.modeler.runtime.engine.model.ModelPackage"
			genModel="model/activitiExtensions.genmodel"
			uri="http://www.activiti.org">
		</package>
	</extension>

	<extension point="org.camunda.bpm.modeler.runtime">
		<runtime name="camunda fox activiti" versions="5.4,5.5,5.6,5.7,5.8"
			id="org.activiti.runtime.engine"
			class="org.camunda.bpm.modeler.runtime.engine.ActivitiRuntimeExtension"
			description="camunda modeler customizations for the activiti runtime">
		</runtime>

		<model runtimeId="org.activiti.runtime.engine"
			uri="http://www.activiti.org"
			resourceFactory="org.camunda.bpm.modeler.runtime.engine.model.util.ModelResourceFactoryImpl">
		</model>
	</extension>

	<!-- new wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="camunda.modeler" 
			name="BPMN"> 
		</category>
		<wizard
			category="camunda.modeler"
			class="org.camunda.bpm.modeler.ui.wizards.Bpmn2DiagramWizard"
			icon="icons/bpmn2_editor_16.png"
			id="org.camunda.bpm.modeler.ui.diagram"
			name="BPMN 2.0 Diagram"
			preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective">
		</wizard>
	</extension>
	
	<!-- new menu integration -->
	<!-- 
		the common wizard will make sure that we can alway access the BPMN wizard
		new menuGroupId is chosen freely and will ensure a sub menu in the "New" dropdown is created
	-->
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
			menuGroupId="camunda.modeler"
			type="new"
			wizardId="org.camunda.bpm.modeler.ui.diagram">
			<enablement>
				<or>
					<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
					<instanceof value="org.eclipse.core.resources.IFolder" />
					<instanceof value="org.eclipse.core.resources.IProject" />
				</or>
			</enablement>
		</commonWizard>
	</extension>

	<!-- BPMN 2.0 editor -->
	<extension point="org.eclipse.ui.editors">

		<editor
			class="org.camunda.bpm.modeler.ui.diagram.editor.Bpmn2MultiPageEditor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.camunda.bpm.modeler.ui.bpmn2editor" name="Bpmn2 Diagram Editor">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.content-type.xml"
			name="BPMN 2.0 file"
			file-extensions="bpmn,bpmn2,bpmn20,xml" priority="normal">
			<describer class="org.camunda.bpm.modeler.ui.Bpmn2ContentDescriber"></describer>
		</content-type>
		<file-association content-type="org.eclipse.core.runtime.xml" file-extensions="bpmn,bpmn2">
		</file-association>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.camunda.bpm.modeler.ui.PropertyContributor"
			labelProvider="org.camunda.bpm.modeler.ui.property.PropertiesLabelProvider"
			tabDescriptorProvider="org.camunda.bpm.modeler.ui.property.PropertiesTabDescriptorProvider">
			<propertyCategory category="BPMN">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider"
			description="A graphical Editor for BPMN 2.0 diagrams"
			id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider" name="BPMN2 Editor">
			<diagramType
				id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider">
			</diagramType>
			<imageProvider id="org.camunda.bpm.modeler.ui.ImageProvider">
			</imageProvider>
		</diagramTypeProvider>
	</extension>

	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.camunda.bpm.modeler.ui.Images" id="org.camunda.bpm.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- EMF Extensions -->

	<extension
		point="org.eclipse.emf.ecore.factory_override">
		<factory
			class="org.camunda.bpm.modeler.core.model.Bpmn2ModelerFactory"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
		</factory>
	</extension>

	<extension
		point="org.eclipse.emf.validation.constraintProviders">
		<category
			name="Core BPMN 2.0 Constraints"
			id="org.camunda.bpm.modeler.validation"/>
		<constraintProvider cache="true">
			<package namespaceUri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"/>
			<constraints categories="org.camunda.bpm.modeler.validation">
				<constraint
					lang="OCL"
					severity="WARNING"
					mode="Batch"
					name="UniqueId"
					id="org.camunda.bpm.modeler.validation.BaseElement.id"
					statusCode="100" isEnabledByDefault="true">
					<description>ID needs to be unique.</description>
					<message>ID needs to be unqiue. Displayed value will not be saved.</message>
					<target class="BaseElement" />
					<![CDATA[
					self.id->notEmpty() implies bpmn2::BaseElement.allInstances()->select(s | s.id = self.id)->size() <= 1
					]]>
				</constraint>
				<constraint
					lang="Java"
					class="org.camunda.bpm.modeler.core.validation.ValidIdConstraint"
					severity="WARNING"
					mode="Batch"
					name="Valid IDs"
					id="org.camunda.bpm.modeler.validation.ValidId"
					statusCode="101">
					<description>
						IDs must be valid.
					</description>
					<message>
						The {0} ID must be a valid ID.
					</message>
					<target class="BaseElement">
						<event name="Set">
							<feature name="id"/>
						</event>
						<event name="Unset">
							<feature name="id"/>
						</event>
					</target>
				</constraint>
				<constraint
					lang="OCL"
					severity="CANCEL"
					mode="Live"
					name="StartEventIncoming"
					id="org.camunda.bpm.modeler.validation.StartEvent.incoming"
					statusCode="2">
					<description>Start Event must not have incoming flows</description>
					<message>Start Event must not have incoming sequence flows.</message>
					<target class="StartEvent" />
					<![CDATA[
					self.incoming->isEmpty()
					]]>
				</constraint>
				<constraint
					lang="OCL"
					severity="CANCEL"
					mode="Live"
					name="EndEventOutgoing"
					id="org.camunda.bpm.modeler.validation.EndEvent.outgoing"
					statusCode="3">
					<description>End Event must not have outgoing flows</description>
					<message>End Event must not have outgoing sequence flows.</message>
					<target class="EndEvent" />
					<![CDATA[
					self.outgoing->isEmpty()
					]]>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.Bpmn2BatchValidationConstraint"
					id="org.camunda.bpm.modeler.validation.error"
					lang="Java"
					mode="Batch"
					name="Errors"
					severity="ERROR"
					statusCode="1">
					<message>{0}</message>
					<description>Diagram Validation Errors</description>
					<target class="Definitions"/>
					<target class="BaseElement"/>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.Bpmn2BatchValidationConstraint"
					id="org.camunda.bpm.modeler.validation.warning"
					lang="Java"
					mode="Batch"
					name="Warnings"
					severity="WARNING"
					statusCode="1">
					<message>{0}</message>
					<description>Diagram Validation Warnings</description>
					<target class="Definitions"/>
					<target class="BaseElement"/>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.FormalExpressionConstraint"
					id="org.camunda.bpm.modeler.validation.FormalExpressionConstraint"
					lang="java"
					mode="Batch"
					isEnabledByDefault="false"
					name="FormalExpressionConstraint"
					severity="ERROR"
					statusCode="1">
					<message>
						Expression and Language must not be blank
					</message>
					<description>
						Expression and Language must not be blank
					</description>
					<target
						class="FormalExpression">
					</target>
				</constraint>

			</constraints>
		</constraintProvider>
	</extension>

	<extension
		point="org.eclipse.emf.validation.constraintBindings">
		<clientContext
			default="false"
			id="org.camunda.bpm.modeler.validationContext">
			<selector class="org.camunda.bpm.modeler.core.validation.ValidationDelegateClientSelector"/>
		</clientContext>
		<binding
			context="org.camunda.bpm.modeler.validationContext"
			category="org.camunda.bpm.modeler.validation"/>
	</extension>

	<extension point="org.eclipse.emf.validation.validationListeners">
		<listener class="org.camunda.bpm.modeler.core.validation.ProblemsReporter">
			<clientContext id="org.camunda.bpm.modeler.validationContext"/>
		</listener>
	</extension>

	<extension
		id="projectValidator"
		name="BPMN 2.0 Project Validator"
		point="org.eclipse.wst.validation.validatorV2">
		<validator
			class="org.camunda.bpm.modeler.core.validation.Bpmn2ProjectValidator"
			markerId="org.camunda.bpm.modeler.problemMarker"
			build="false">
			<include>
				<rules>
					<contentType
						exactMatch="true"
						id="org.eclipse.bpmn2.content-type.xml">
					</contentType>
					<file
						caseSensitive="true"
						name="bpmn2.xml"
						type="file">
					</file>
				</rules>
			</include>
			<exclude>
				<rules>
					<file
						caseSensitive="true"
						name="bpmn2.xml.diagram"
						type="file">
					</file>
				</rules>
			</exclude>
		</validator>
	</extension>

	<extension
		id="org.camunda.bpm.modeler.problemMarker"
		name="BPMN 2.0 Modeler"
		point="org.eclipse.core.resources.markers">
		<persistent	value="false">
		</persistent>
		<super type="org.eclipse.emf.validation.problem">
		</super>
	</extension>
	
	<!-- 
		a generic project builder that validates 
    bpmn diagrams upon project build
  -->
	<!--
	<extension
		id="org.camunda.bpm.modeler.bpmn2Builder"
		name="BPMN2 Validation Builder"
		point="org.eclipse.core.resources.builders">
		<builder
			hasNature="true">
			<run
				class="org.camunda.bpm.modeler.builder.BPMN2Builder">
			</run>
		</builder>
	</extension>
	-->
	
	<!--
		a project nature for BPMN 2.0 projects that activates
		validation
	-->
	<!--
	<extension
		id="org.camunda.bpm.modeler.bpmn2Nature"
		name="BPMN2 Project Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run
				class="org.camunda.bpm.modeler.builder.BPMN2Nature">
			</run>
		</runtime>
		<builder
			id="org.camunda.bpm.modeler.bpmn2Builder">
		</builder>
	</extension>
	-->
	<extension
		id="xmlProblem"
		name="XML Problem"
		point="org.eclipse.core.resources.markers">
		
		<super type="org.eclipse.core.resources.problemmarker"></super>
		<persistent value="false"></persistent>
	</extension>
</plugin>
